@use "../../global.scss";
@use "sass:color";

.newGameButton {
   font-size: 20px;
   font-weight: 700;
   padding: 12px;
   border-radius: 10px;
   cursor: pointer;

   transition: 0.3s;

   animation: show  0.2s ease-in-out running;

   &.x {
      background-color: global.$xColor;
      &:hover {
         background-color:  color.adjust(global.$xColor, $lightness: 10%)
      }
   }
   &.o {
      background-color: global.$oColor;
      &:hover {
         background-color:  color.adjust(global.$oColor, $lightness: 10%)
      }
   }
   &.none {
      background-color: global.$whiteColor;
      &:hover {
         background-color:  color.adjust(global.$whiteColor, $lightness: 10%)
      }
   }
}