@use "../../global.scss";

td {
   width: global.$squareSize;
   height: global.$squareSize;
   vertical-align: middle;

   text-align: center;
   font-size: 72px;

   border: global.$whiteColor solid 2px;
   cursor: default;

   &.clickable {
      cursor: pointer;
   }

   &:nth-child(1) {
      border-left: none;
   }

   &:last-child {
      border-right: none;
   }
}

.red {
   color: global.$xColor;
   animation: show  0.2s ease-in-out running;
   
   @keyframes show {
      from {
         opacity: 0
      }  
      to { 
         opacity: 1;
      }
   }
}

.blue {
   color: global.$oColor;
   animation: show  0.2s ease-in-out running;
   
   @keyframes show {
      from {
         opacity: 0
      }  
      to { 
         opacity: 1;
      }
   }
}

svg {
   transform: translateY(3px);
   
}