@use "sass:math";
@use "./global.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Roboto+Slab:wght@400;500;600;700&family=Roboto:wght@400;700&display=swap');


body {
  background-color: global.$backgroundColor;
}

#root {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding-top: 32px;

  font-family: 'Roboto Slab', serif;

}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

#gameTitle {
  color: global.$whiteColor;
  font-size: 32px;
}

.scoreboard {
  display: flex;
  justify-content: space-between;
  gap: 32px;

  div {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    svg {
      transform: none;
    }
  }

  .x {
    color: global.$xColor;
  }
  .o {
    color: global.$oColor;
  }
}